.glexbasis {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.glexbasis div { 
    width: 200px;
    height: 200px;
    background-color: red;
    border: black solid 1px;
}